# =========================
# Python Core
# =========================
# Archivos compilados y de caché
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# =========================
# Jupyter Notebooks e IPython
# =========================
.ipynb_checkpoints/
profile_default/
ipython_config.py

# =========================
# Entornos de desarrollo (IDEs) y OS
# =========================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# =========================
# Archivos Específicos del Proyecto
# =========================
# Perfil de navegador (Playwright)
perfil_X_DesktopApp/

# Archivos de datos extraídos y logs
*.log
data/
models/
runtime/